<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BASE_URL" value="https://castellana.elektronskafiskalizacija.me/" />
    <add key="TCR_CODE" value="ck788xq400" />
    <add key="TOKEN" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6IkZpc2NhbERyaXZlciIsImlzcyI6Imh0dHBzOi8vZWxla3Ryb25za2FmaXNrYWxpemFjaWphLm1lIiwiYXVkIjoiNDE0ZTE5MjdhMzg4NGY2OGFiYzc5ZjcyODM4MzdmZDEiLCJleHAiOjE2NDk3NTEwNzgsIm5iZiI6MTYxODIxNTA3OH0.F84M8ZO4XnhffLS5R8kSUdpLghFyI3k1Uvsotikn9pc" />
    <add key="USER_CODE" value="fz209qo401" />
    <add key="USER_NAME" value="Vladimir Bokun" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>